In [7]:
import requests
import json
import pandas as pd

In [28]:
data = {'unique_offer_clicked':[2,4,2,6], 
        'total_offer_clicks':[3,1,4,7],
        'unique_offer_rides':[6,6,2,1], 
        'total_offer_rides':[66,198,34,77],
        'total_offers_claimed':[5,6,4,6]
       } 
 
new_sample = pd.DataFrame(data)

In [29]:
new_sample.head()

,unique_offer_clicked,total_offer_clicks,unique_offer_rides,total_offer_rides,total_offers_claimed
0,2,3,6,66,5
1,4,1,6,198,6
2,2,4,2,34,4
3,6,7,1,77,6

In [30]:
def getDetection(sample):
    dict = {}
    dict['unique_offer_clicked'] = sample['unique_offer_clicked'].tolist()[0]
    dict['total_offer_clicks'] = sample['total_offer_clicks'].tolist()[0]
    dict['unique_offer_rides'] = sample['unique_offer_rides'].tolist()[0]
    dict['total_offer_rides'] = sample['total_offer_rides'].tolist()[0]
    dict['total_offers_claimed'] = sample['total_offers_claimed'].tolist()[0]
    json_string = json.dumps(dict)
    inputs = {'features':json_string}
    
    r = requests.post('http://0.0.0.0:3838/detector', data = inputs)
    print(r.text)

In [32]:
for i in range(len(new_sample)):

    curr_sample = new_sample[new_sample.index == i]
    getDetection(curr_sample)

{"cluster": "2", "outlier_labels": "0"}
{"cluster": "1", "outlier_labels": "1"}
{"cluster": "2", "outlier_labels": "0"}
{"cluster": "2", "outlier_labels": "1"}